APP_NAME=startuphub-api
PORT=8000
APP_HOST=http://localhost

FONTEND_HOST=http://localhost:3000

MYSQL_DB_HOST=
MYSQL_DB_USER=
MYSQL_DB_PASSWORD=
MYSQL_DB_DATABASE=

MONGOURI=

COMPASSURI=

SUPER_SECRET_KEY=
SALT_ROUNDS=

APP_VERSION=

MAIL_USER_NAME=
MAIL_USER_PASSWORD=